.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}#text-2col-3 .bg {
    background-image: url('../images//uploaded/2774/2774-websmith__lexagora.svg');
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.1;
}

#text-2col-3 .bg-wrap {
	background: #aa151b;
}#benefits-4col-6--0 .bg-wrap {
    background-color: #f4f5f6;
}#header-text-2 .bg {
    background-image: url('../images/uploaded/2774/2774-websmith__alquiler-despachos-leon-sala-juntas-rosa-scaled.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    opacity: 0.25;
}#text-2col-3--0 .bg {
    background-image: url('../images//uploaded/2774/2774-websmith__lexagora.svg');
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.1;
}

#text-2col-3--0 .bg-wrap {
	background: #aa151b;
}#benefits-4col-6 .bg-wrap {
    background-color: #f4f5f6;
}#clients-5col-2 .bg {
    background-image: url('../images/bg-67.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.25;
}
.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}#footer-text-map .bg-wrap {
    background-color: #F4F5F6;
}
